body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

input[type="text"] {
    padding: 5px;
}

.banner {
    background-image: url('banner.jpg');
    color: white;
    display: flex; /* Usamos flexbox para alinear elementos */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Alinea verticalmente el contenido */
    padding: 50px 20px; /* Espaciado en el banner */
    border-bottom: 1px solid #ccc; /* Línea debajo del banner */
    margin-top: 20px; /* Añadir margen superior para separarlo del navbar */
}

.btn-create-post {
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de la fuente */
    transition: background-color 0.3s; /* Transición de color */
    margin-left: 20px; /* Margen a la izquierda para separarlo del borde */
}

.btn-create-post:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}

main {
    padding: 20px;
    margin-top: 20px; /* Añadir margen superior para separar del banner */
}

h2 {
    margin-top: 40px; /* Aumentar el margen superior para que no esté tan cerca del banner */
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 40px);
}

.post img {
    max-width: 100%;
    border-radius: 5px;
}

.leer-mas {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
