{% extends "base.html" %}
{% load static %}

{% block content %}
<title>Create Post</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">

<main class="create-post-container">
    <h2 class="create-post-title">Crear un Nuevo Post</h2>
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        
        <!-- Campo de título -->
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="form-label">Título:</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <!-- Campo de contenido -->
        <div class="form-group">
            <label for="{{ form.content.id_for_label }}" class="form-label">Contenido:</label>
            {{ form.content }}
            {{ form.content.errors }}
        </div>

        <!-- Campo de categoría -->
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}" class="form-label">Categoría:</label>
            {{ form.category }}
            {{ form.category.errors }}
        </div>

        <!-- Campo de etiquetas (tags) -->
        <div class="form-group">
            <label for="{{ form.tags.id_for_label }}" class="form-label">Etiquetas:</label>
            <div class="tags-container">
                {{ form.tags }}
            </div>
            {{ form.tags.errors }}
        </div>

        <!-- Campo de imagen -->
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}" class="form-label">Imagen:</label>
            <div class="image-upload">
                {{ form.image }}
            </div>
            {{ form.image.errors }}
        </div>

        <!-- Botón de enviar -->
        <button type="submit" class="btn-submit">Publicar</button>
    </form>
</main>
<script src="{% static 'js/create_post.js' %}"></script>

{% endblock %}