{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">

<main>
    <h2>Crear un Nuevo Post</h2>
    <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}  <!-- Campo de título -->
            {{ form.title.errors }}
        </div>

        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}  <!-- Campo de contenido -->
            {{ form.content.errors }}
        </div>

        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}  <!-- Campo de categoría -->
            {{ form.category.errors }}
        </div>

        <div class="form-group">
            {{ form.tags.label_tag }}
            {{ form.tags }}  <!-- Este generará las casillas de verificación -->
            {{ form.tags.errors }}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}  <!-- Campo de imagen -->
            {{ form.image.errors }}
        </div>

        <button type="submit" class="btn-submit">Publicar</button>
    </form>
</main>

<script src="../../static/js/create_post.js"></script>

{% endblock %}
