{% extends "base.html" %}
{% load static %}

{% block js %}
{% endblock %}

{% block content %}
<title>Iniciar Sesión</title>

<link rel="stylesheet" type="text/css" href="../../static/css/login.css">

<div class="login-container">
    <h2>Iniciar Sesión</h2>

    <!-- Formulario de inicio de sesión -->
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="usernameInput" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-input" id="usernameInput" name="username" required>
        </div>
        <div class="form-group">
            <label for="passwordInput" class="form-label">Contraseña</label>
            <input type="password" class="form-input" id="passwordInput" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>

    <!-- Link a la página de registro -->
    <p><a href="{% url 'register' %}">¿No tienes cuenta? Regístrate</a></p>
</div>
{% endblock %}
