{% extends "base.html" %}
{% load static %}

{% block content %}

<title>Profile</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

<div class="container mt-5">
    <div class="row">

        <div class="col-md-4 text-center">
            <img src="{% if user.author.avatar %}{{ user.author.avatar.url }}{% else %}{% static 'images/default-avatar.jpg' %}{% endif %}" class="img-thumbnail rounded-circle mb-3" alt="Avatar" width="200">    
        </div>

        <!-- Columna para la información personal -->
        <div class="col-md-8">
            <h2>Edit Profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb3">
                    <p>Upload your photo...</p>
                    <label class="custom-file-upload">
                        <input type="file" name="avatar" class="form-control-file" onchange="updateFileName(this)">
                        Choose File
                    </label>
                </div>
                
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{ user_form.username.value|default:user.username }}" required>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" value="{{ user_form.email.value|default:user.email }}" required>
                </div>

                <!-- Sección para cambiar la contraseña -->
                <h3>Change Password</h3>
                <div class="mb-3">
                    <label for="current_password">Current Password</label>
                    <input type="password" class="form-control" name="current_password" id="current_password">
                </div>
                <div class="mb-3">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" name="new_password" id="new_password">
                </div>
                <div class="mb-3">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                </div>

                <div class="mb-3">
                    <label for="bio">Biography</label>
                    <textarea name="bio" class="form-control" id="bio" rows="4">{{ author_form.bio.value|default:user.author.bio }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">update</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
