{% extends "base.html" %}
{% load static %}

{% block content %}

<title>Home</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<!-- Banner Superior -->
<div class="banner">
    <div class="banner-content">
        <h1 class="banner-title">Bienvenidos a Entre Letras y Pensamientos</h1>
        <p class="banner-text">Explora los artículos más recientes y populares en nuestra comunidad. Conoce nuestras categorías y encuentra contenido de tu interés.</p>
        <a href="{% url 'ex_posts' %}" class="btn btn-light banner-button">Explorar</a>
    </div>
</div>

<div class="container mt-4">
    <!-- Main Content Row -->
    <div class="posts-section">
        <h2>Posts Recientes</h2>
        <div class="row">
            {% for post in recent_posts %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% else %}
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagen por defecto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                        <p class="fecha">Publicado el {{ post.created_at|date:"d M Y" }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay posts recientes.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/index.js' %}"></script>

{% endblock %}