
<link rel="stylesheet" type="text/css" href="../../static/css/footer.css">

<footer>
    <p>&copy; 2024 Entre letras y pensamientos. Todos los derechos reservados.</p>
    <div class="social">
        <a href="https://www.facebook.com/share/aLK3NzNzoqB6aEY1/" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="https://x.com/GluckXS" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://www.instagram.com/victor_perlaza21/profilecard/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
</footer>
