{% url 'index' as ind %}
{% url 'login' as lg %}
{% url 'cerrar' as lgt %}
{% url 'profi' as lgt %}
{% url 'noti' as not %}

<link rel="stylesheet" type="text/css" href="../../static/css/navbar.css">

<nav class="custom-navbar navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fa-regular fa-lemon fa-2xl"></i> Entre Letras y pensamientos 
        </a>



        <!-- Iconos a la derecha -->
        <div class="navbar-icons d-flex align-items-center">
            <!-- Búsqueda Desplegable -->
            <div class="search-container">
                <i class="fa-solid fa-search search-icon" onclick="toggleSearch()"></i>
                <form id="searchForm" action="{% url 'search' %}" method="GET" onsubmit="return validateSearch()">
                    <input type="text" name="q" id="searchInput" class="search-input" placeholder="Buscar...">
                </form>
            </div>


            {% if user.is_authenticated %}

                    <!-- Menú de Navegación -->
            <div class="collapse navbar-collapse justify-content-left">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_post' %}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notifications' %}">Notificaciones</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <img src="{{ user.author.avatar.url }}" alt="Avatar" class="navbar-avatar" id="userDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Mi Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
            {% endif %}
        </div>
    </div>
</nav>

<script src="../../static/js/navbar.js"></script>
